html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
    user-select: none;
}

.el-header,
.el-footer {
    /*background-color: #B3C0D1;*/
    /*color: #333;*/
    text-align: justify;
    line-height: 60px;
}

.el-aside {
    /*background-color: #D3DCE6;*/
    /*color: #333;*/
    text-align: center;
    line-height: 200px;
}

.el-main {
    /*background-color: #E9EEF3;*/
    /*color: #333;*/
    text-align: center;
    /*line-height: 160px;*/
    padding: 0;
}

body>.el-container {
    margin-bottom: 40px;

}
.el-container{
    margin-left: 200px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}

.el-dropdown-menu{
    color: black;
    z-index: 2000;
}
.el-dropdown-menu span{
    color: #b8b8b8;
}
.el-dropdown-item{
    text-align: left;
}
.el-dropdown-menu__item{
    padding-left:5px ;
    padding-right: 5px;
}
.el-icon-check{
    padding: 0;
    float: right;
    line-height: 35px;
}
.el-dropdown-menu li{
    width: 90px;
}